# Data Science and Data Manipulation
pandas
numpy
xgboost

# Data Preprocessing and Transformation
scikit-learn
imbalanced-learn
tensorflow
keras
pyarrow
# Data Visualization
matplotlib
seaborn
torch

ipykernel
jupyter

